.blogs {
  .delete--message {
    text-align: center;
    font-size: 15px;
    text-transform: capitalize;
    background-color: #1f98f4;
    color: #fff;
    width: 60%;
    margin: 0 auto;
    padding: 5px 0;
  }
}
